<div class="footer">
  

    <a href="mailto:ecet@uam.es" target="_blank">
        <img src="assets/img/gmail.jpg" style="width: 45px; height: 45px;" alt="Enviar correo a ecet@uam.es"> <!-- Ajusta el tamaño según sea necesario -->
    </a>

    <a href="https://www.uam.es/uam/inicio" target="_blank">
        <img id="uam" src="assets/img/UAM-Logo.png" alt="UAM Logo">
    </a>
  
 

    <a href="https://www.instagram.com/ecetproject/?utm_source=ig_web_button_share_sheet" target="_blank">
        <img src="assets/img/instagram.jpg" style="width: 80px; height: 80px;"> <!-- Ajusta el tamaño según sea necesario -->
    </a>
  
</div>