<div class="header">
    <img id="logo" src="assets/img/logomari.png">
    <h1 id="title">My Books</h1>
    <div class="menu">
        <a routerLink="home" routerLinkActive="active-link">Inicio</a>
        <a routerLink="about" routerLinkActive="active-link">ECET project</a>
        <a routerLink="research" routerLinkActive="active-link">Plan de acción</a>
        <a routerLink="teamWork" routerLinkActive="active-link">Equipo</a>
        <a routerLink="blog" routerLinkActive="active-link">Blog</a>
        <a routerLink="contact" routerLinkActive="active-link">Colabora</a>

    </div>
</div>

