<div class="padre">
    <div class="hijo">
        <h1>Contact us</h1>
        <div class="hijo2">
            <section class="form-section">
                <h2>To participate as a Professor</h2>
                <h4>You must be a PhD teacher</h4>
                <form id="participate-form">
                    <div class="button-container" id="bc1">
                        <img id="coop" src="assets/img/coop.png">
                        <label id="participation" for="email">To start Participation:</label>
                        <a href="https://psyuam.eu.qualtrics.com/jfe/form/SV_emkESx3pPl1azLE" target="_blank">
                            <button type="button">Click here</button>
                        </a>
                    </div>
                </form>
            </section>

            <section class="form-section">
                <h2>To Collaborate as a researcher</h2>
                <h4>You must be over 18 years old</h4>
                <form id="motivation-form">
                    <div class="button-container" id="bc1">
                        <img id="coop" src="assets/img/participar.jpg">
                        <label id="participation" for="email">To start Collaboration:</label>
                        <a href="https://psyuam.eu.qualtrics.com/jfe/form/SV_4MbaUSPAQg8hZv8" target="_blank">
                            <button type="button">Click here</button>
                        </a>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>