<div class="padre">
    <div class="hijo">
        <h1>Contáctanos</h1>
        <div class="hijo2">
            <section class="form-section">
                <h2>Participación en el estudio</h2>
                <h4>Debe ser docente universitario</h4>
                <form id="participate-form">
                    <div class="button-container" id="bc1">
                        <img id="coop" src="assets/img/coop.png">
                        <label id="participation" for="email">Para comenzar la participación:</label>
                        <a href="https://psyuam.eu.qualtrics.com/jfe/form/SV_emkESx3pPl1azLE" target="_blank">
                            <button type="button">Haga clic aquí</button>
                        </a>
                    </div>
                </form>
            </section>

            <section class="form-section">
                <h2>Colaboración de investigación</h2>
                <h4>Debe tener más de 18 años</h4>
                <form id="motivation-form">
                    <div class="button-container" id="bc1">
                        <img id="coop" src="assets/img/participar.jpg">
                        <label id="participation" for="email">Para comenzar la colaboración:</label>
                        <a href="https://psyuam.eu.qualtrics.com/jfe/form/SV_4MbaUSPAQg8hZv8" target="_blank">
                            <button type="button">Haga clic aquí</button>
                        </a>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>