<div class="padre">
    
    <div class="hijo">
        <h1>PLAN DE ACCIÓN</h1>
        <div class="hijo2">

                <div class="hijo21">
                    <h2>Etapa 1</h2>
                    <div class="card" id="pasado" >
                        <h3>Diseño y estudio piloto</h3>
                        <p class="fecha">10/23 - 08/24</p>
                        <p>Se llevó a cabo un estudio piloto en el que se desarrolló la ECET y se evaluó su funcionamiento a nivel psicométrico.</p>
                    </div>
                    <a href="http://hdl.handle.net/10486/717953">Informe del estudio piloto</a>
                </div>

                <div class="hijo21">
                    <h2>Etapa 2</h2>
                    <div class="card"  >
                        <h3>Desarrollo del estudio</h3>
                        <p class="fecha">10/24 - 06/25</p>
                        <p>El estudio piloto se está replicando con una muestra más grande, con otra experta y abordando las limitaciones previas.</p>
                    </div>
                    <a href="https://psyuam.eu.qualtrics.com/jfe/form/SV_emkESx3pPl1azLE">¿Quiere participar en tan solo 15 minutos?</a>
                </div>  
                <div class="hijo21">
                    <h2>Etapa 3</h2>
                    <div class="card"  >
                        <h3>Publicación del artículo</h3>
                        <p class="fecha">10/24 - 06/25</p>
                        <p>La investigación se publicará con el objetivo de seguir avanzando para mejorar las condiciones del sistema de evaluación universitario.</p>
                    </div>
                    <a href="https://www.instagram.com/ecetproject/?utm_source=ig_web_button_share_sheet">¿Quiere conocer los avances?</a>
                </div>  
                
             
        </div>
    </div>

</div>