<div class="padre">
    
    <div class="hijo">
        <h1>ECET PROJECT</h1>
        <h2>Apoya el progreso, apoya a ECET</h2>
        <h3>Este proyecto ha sido aprobado por el comité de ética de la UAM.</h3>


            <div class="container">
                <div class="card-container">
                    <div class="card">
                        <h2 class="H">¿Qué es ECET project?</h2>
                        <p id="uam">Un proyecto de investigación voluntario de la Universidad Autónoma de Madrid (UAM) que está desarrollando una herramienta de apoyo docente (la ECET) para crear exámenes de opción múltiple de alta calidad de manera eficiente.</p>
                        <div class="button">
                            <label id="participation" for="email">Acceso a la versión preliminar de la ECET:</label>
                            <a href="https://scanned.page/p/67ee518252685" target="_blank">
                                <button src="assets/img/linkedin.png"> Haga clic aquí </button></a> 
                        </div>
                    </div>
                    <div class="card">
                        <h2  class="H">¿Por qué surge el proyecto?</h2>
                        <p>Para mejorar las condiciones del sistema de evaluación universitario.</p>
                        <ul>
                            <li>Porque no existen métodos para evaluar la calidad de los exámenes antes de que tengan lugar.</li>
                            <li>Porque, en general, los docentes no han recibido formación psicométrica para construir exámenes.</li>
                            <li>Porque el proceso de construcción de exámenes no está sistematizado ni regulado en las universidades.</li>
                        </ul>
                    </div>
                    <div class ="card">
                        <h2  class="H">¿Por qué debe continuar el proyecto?</h2>
                        <p>Debido a las evidencias de fiabilidad y de validez de la ECET obtenidas en el estudio piloto:</p>
                        <div class="evidence">
                            <div class="evidence2">
                                <h4>Fiabilidad interjuez</h4>
                                <p class="evi">CCI: 0.94</p>
                            </div>
                            <div class="evidence2">
                                <h4>Consistencia interna</h4>
                                <p class="evi">α: 0.74</p>
                            </div>
                            <div class="evidence2">
                                <h4>Validez predictiva de la ECET </h4>
                                <p class="evix">R²: 0.64</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
    </div>

</div>

