<div class="padre">
    
    <div class="hijo">
        <h1>BLOG</h1>
        <div class="hijo2">
              
            <div class="card">
                <div class="container">
                    <h3 class="name">Premio Isidoro DelClaux</h3>
                    <h5>13/11/24</h5>
                    <div class="image-container">
                        <img id="isi" src="assets/img/isi.jpeg">
                        <div class="hover-text">Tercer puesto en el Concurso de Investigación Isidoro DelClaux organizado por la Facultad de Psicología de la Universidad Autónoma de Madrid.</div>
                    </div>
                    <a href="https://scanned.page/p/67ee8fa23e2d9" class="button" target="_blank">Leer más</a>
                    
                </div>
            </div>

            <div class="card">
                <div class="container">
                    <h3 class="name">International Test Commission (ITC)</h3>
                    <h5>05/07/24</h5>
                    <div class="image-container">
                        <img id="ecet" src="assets/img/ecet (1).jpeg">
                        <div class="hover-text">Exposición con póster en la ITC de Granada 2024.</div>
                    </div>
                    <a href="https://scanned.page/p/67ee94b225694" class="button" target="_blank">Leer más</a>
                </div>
            </div>

        </div>
    </div>

</div>

<!-- 
<h1>Blog ECET</h1>
<div class="hijo2">
    <div class="card">
        <h2>Comisión Internacional de Pruebas (ITC)</h2>
        <img id="Pau" src="assets/img/Pau.jpg">
        <p>Participación en ITC Granada 2024</p>
        <a href="https://www.linkedin.com/in/paula-mu%C3%B1oz-teno-4a5683306/">Para saber más</a>
    
    </div>
    <div class="card">
        <h2>Premio Isidoro DelClaux</h2>
        <img id="Agus" src="assets/img/Agus3.jpg">
        <p id="p2">Ganador del tercer premio en el Concurso de Investigación Isidoro DelClaux, organizado por la Facultad de Psicología de la Universidad Autónoma de Madrid.</p>
        <a href="https://www.linkedin.com/in/agust%C3%ADn-mart%C3%ADnez-molina-263a4b7/">Para saber más</a>
    </div>
</div> 
-->