<div class="padre">
    <div class="hijo">
        <h1>
            <span class="ecet-project">ECET PROJECT </span>
        </h1>

        <h1>
            <span class="hidden-text">ECET, la herramienta de apoyo docente para crear exámenes de opción múltiple.  </span>
        </h1>
        
        <h2 id="h2e">
            La mejora del sistema de evaluación educativo depende de todos. 
        </h2>
        <h2 id="h2e">
            Sé parte del cambio, <span class="highlight">se ECET</span>.
        </h2>
        <div class="video-container">
            <video autoplay muted loop>
                <source src="assets/videos/piensa2.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</div>

