<div class="padre">
    <div class="hijo">
        <h1>
            <span class="ecet-project">ECET project</span>
            <span class="hidden-text">: Teaching support tool for creating multiple-choice exams</span>
        </h1>
        <h2 id="h2e">
            The improvement of the educational evaluation system depends on everyone. 
        </h2>
        <h2 id="h2e">
            Be part of the change, <span class="highlight">be ECET</span>.
        </h2>
        <div class="video-container">
            <video autoplay muted loop>
                <source src="assets/videos/piensa2.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</div>